.top-logo-header {
    text-align: left;
    background-color: rgb(140, 170, 230);
    border-bottom: 8px solid rgb(0, 51, 153);
    margin-top: 10px;
    padding: 5px;
    box-shadow: 0px 0px 3px rgb(136, 136, 136);
}

ul.feedlist li a:after {
    margin-left: 5px;
    content: url("_static/external-link.png");
}

div.feeditem {
    margin-left: 2em;
    border-left: 4px #ccc solid;
    border-top: 2px #ccc solid;
    padding-left: 1em;
    margin-bottom: 2ex;
    padding-top: 1ex;
}

div.feeditem span.date {
    margin-right: 1em;
}

div.description {
    max-height: 30ex;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 1ex;
    padding-top: 1ex;
}
